<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>welcome page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        h1 {text-align: center;}
        p {text-align: center;}
        div {text-align: center;}
    </style>
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <img src="https://wallpapercave.com/wp/wp2036967.jpg" height="80" width="80"/>
    <a class="navbar-brand" href="#">Library Management System</a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">

            <li class="nav-item">

                <a th:href="@{/}"class="btn btn-primary btn-sm lg-3">Logout</a>
            </li>
        </ul>
    </div>
</nav>
<div class="form">
    <form>
<h1>APPLICATION TERMS AND CONDITIONS</h1>
<p>
    1. YOUR APPLICATION IS YOUR RESPONSIBILITY
    It is your responsibility to ensure that you complete the application process correctly and on
    time. Make sure that you
    • familiarise yourself with the University’s Admission Policy, programme-specific
    admissions criteria and the faculties’ selection guidelines;
    • provide all the information and supporting documents before the closing date of 31 July;
    • apply for the programmes for which you meet the programme-specific admissions
    criteria. Some programmes have selection criteria that are higher than the programmespecific minimum admissions criteria, and the applications are very competitive. We
    cannot guarantee that you will be admitted – even if you meet all the criteria.
    Here are guidelines on how and when to apply for a programme and accommodation. However,
    we may adjust the information in the guidelines at any time. The latest information is available
    on www.maties.com or from Client Services at 021 808 9111 or roomOne.info@sun.ac.za
    2. YOU MUST COMPLETE YOUR APPLICATION ON TIME</p>

<a th:href="@{/all}"class="btn btn-primary btn-sm lg-3">Continue</a>
<a th:href="@{/}"class="btn btn-primary btn-sm lg-3">Cancel</a>
<style>

    p {
    color:#ffffff;
}
    h1 {
        color:#800000;
    }
    body{
        background-image: url('https://miro.medium.com/max/6400/1*qYE6XgnyxXy9HHOeoQGjTw.jpeg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size:100% 100% ;
    }
</style>
    </form>
</div>
</body>
</html>